/***********************BASE***********************/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.zone-noir {
    background-color: black;
    height: 200px;
}

h1, h2, h3, h4, h5 {
    font-family: "Inter", sans-serif;
}

/*font-family: "Concert One", sans-serif;*/

p, a, li {
    font-family: "Montserrat", sans-serif;
}

.degrader-2 {
    background-image: linear-gradient(to bottom, #000000, #ffffff00, #ffffff00, #ffffff00, #000000);
}

/***FLEX***/

.flex {
    display: flex;
}

.flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.colone {
    flex-direction: column;
}

/***********************GRILLE-RESPONSIVE***********************/

.wrapper {
    width: 1024px;
    height: auto;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col {
    line-height: 50px;
}

.col-1 {
    flex-basis: calc(100% / 6);
    background-color: rgb(14, 14, 198);
    overflow: hidden;
}

.col-2 {
    flex-basis: calc(100% / 3);
    background-color: red;
    overflow: hidden;
}

.col-3 {
    flex-basis: calc(100% / 2);
}

.col-4 {
    flex-basis: calc(100% * 2 / 3);
    background-color: blueviolet;
}

.col-5 {
    flex-basis: calc(100% * 5 / 6);
    background-color: rgb(229, 229, 16);
}

.col-6 {
    flex-basis: calc(100%);
}

@media (max-width: 480px) {

    .wrapper {
        width: 100%;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
        flex-basis: 100%
    }

    .off {
        display: none;
    }

}  

/***********************HEADER***********************/

header {
    background-image: url("./images/fonds/banniere.jpg");
    background-size: cover;
    height: 100vh;
}

.degrader {
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff00, #000000);
    height: 100vh;
}

/************NAV************/

header nav {
    transition: background-color 0.4s ease;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
}

header nav li {
    cursor: pointer;
    margin-right: 40px;
}

header nav li:last-child {
    margin-right: 0;
}

header nav li a {
    cursor: pointer;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.logo-nav {
    transition: width 0.4s ease;
    display: block;
    width: 70px;
}

.langue {
    width: 25px;
}

@media (max-width: 480px) {

    header nav li a {
        font-size: 15px;
    }

}  


/************BANNIERE************/

.banniere {
    height: 100vh;
}

.banniere h1 {
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: 110px;
    margin: 150px 0 40px ;
}

.banniere h2 {
    font-weight: 600;
    text-align: center;
    color: rgb(204, 12, 12);
    font-size: 40px;
    margin: 0 0 220px 0;
}

@media (max-width: 480px) {

    .banniere h1 {
        font-size: 35px;
        margin: 150px 0 0 0 ;
    }

    .banniere h2 {
        font-size: 20px;
        margin: 0 0 170px 0;
    }

}  

/***********************MAIN***********************/

/************QUI SOMMENT NOUS************/

.qui-somment-nous {
    background-image: url("./images/fonds/fond-1.jpg");
    background-size: cover;
}

.qui-somment-nous img {
    width: 350px;
}

.qui-somment-nous h3 {
    font-weight: 400;
    text-align: start;
    color: rgb(255, 255, 255);
    font-size: 60px;
    margin: 0 0 0 0;
}

.qui-somment-nous p {
    font-weight: 400;
    text-align: justify;
    color: rgb(255, 255, 255);
    line-height: 2.3;
    font-size: 18px;
    margin: 40px 0 23px 0;
}

.qui-somment-nous a {
    font-weight: 400;
    text-align: justify;
    color: rgb(255, 0, 0);
    border: 2px solid #ffffff;
    padding: 10px 30px;
    margin: 0;
    font-size: 30px;
    transition: 0.4s all;
}

.qui-somment-nous a:hover {
    color: rgb(255, 255, 255);
    background-color: red;
}

@media (max-width: 480px) {

    .qui-somment-nous img {
        width: 180px;
    }

    .qui-somment-nous h3 {
        text-align: center;
        font-size: 35px;
        margin: 40px 0 20px 0;
    }

    .qui-somment-nous p {
        line-height: 2.4;
        font-size: 15px;
        margin: 0 30px 23px 30px;
    }
    
    .qui-somment-nous a {
        margin: 0 0 0 30px;
        font-size: 30px;
    }
    
}  

/************GALERIE************/

.galerie {
    background-image: url("./images/fonds/fond-2.jpg");
    background-size: cover;
}

.galerie h3 {
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 80px;
    margin: 0 0 45px 0;
}

.gallery-container {
    position: relative;
    overflow: hidden;
}

.gallery {
    display: flex;
}

.gallery img {
    width: 100%;
    transition: transform 0.5s ease;
}

.navigation {
    margin: 0;
    position: absolute;
    top: 39%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev, .next {
    cursor: pointer;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
}

.dots {
    text-align: center;
    margin: 0 0 0 0;
}

.dot {
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 5px;
}

.dot.active {
    background-color: rgb(255, 255, 255);
}

@media (max-width: 480px) {

    .galerie h3 {
        font-size: 35px;
        margin: 0 0 20px 0;
    }

    .navigation {
        top: 32%;
        width: 100%;
    }
} 

/************COMMENT INTERGRER************/

.comment-intergrer {
    background-image: url("./images/fonds/fond-3.jpg");
    background-size: cover;
}

.comment-intergrer h3 {
    font-weight: 400;
    text-align: start;
    color: rgb(255, 255, 255);
    font-size: 60px;
    margin: 0 0 50px 0;
}

.comment-intergrer p {
    font-size: 20px;
    text-align: start;
    color: white;
    margin: 0 0 10px 0;
}

.comment-intergrer ul {
    margin: 0 0 25  px 0;
}

.comment-intergrer li {
    font-size: 21px;
    text-align: start;
    color: white;
}

.comment-intergrer img {
    width: 300px;
}

.comment-intergrer a {
    text-decoration: underline;
    font-weight: 400;
    text-align: start;
    color: rgb(255, 0, 0);
    border: 2px solid #ffffff;
    padding: 10px 30px;
    font-size: 30px;
    margin: 0;
    transition: 0.4s all;
}

.comment-intergrer a:hover {
    color: white;
    background-color: red;
}

@media (max-width: 480px) {

    .comment-intergrer h3 {
        font-size: 35px;
        margin: 0 30px 40px 20px;
    }
    
    .comment-intergrer p {
        font-size: 18px;
        line-height: 1.3;
        margin: 0 0 0 20px;
    }
    
    .comment-intergrer ul {
        margin: 10px 0 15px 30px;
    }
    
    .comment-intergrer li {
        font-size: 21px;
    }
    
    .comment-intergrer a {
        margin: 0 0 0 30px;
        font-size: 30px;
    }

    .comment-intergrer img {
        display: none;
    }

} 

/************ALIANCE************/

.aliance {
    background-image: url("./images/fonds/fond-4.jpg");
    background-size: cover;
}

.aliance h3 {
    font-weight: 400;
    text-align: start;
    color: rgb(255, 255, 255);
    font-size: 59px;
    margin: 50px 0 0 0;
}

.aliance p {
    font-weight: 400;
    text-align: start;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 0 0 50px 0;
}

.aliance .logo-ESC {
    width: 400px;
}

.aliance .liste-logo-clans {
    margin: 40px 0 0 0;
}

.aliance .liste-logo-clans img {
    width: 75px;
    margin-bottom: 15px;
    transition: 0.3s all;
}

.aliance .liste-logo-clans img:hover {
    transform: scale(2);
}

@media (max-width: 480px) {

    .aliance h3 {
        text-align: center;
        font-size: 35px;
        margin: 0 0 0 20px;
    }
    
    .aliance p {
        text-align: center;
        font-size: 18px;
        margin: 0 0 30px 0;
    }
    
    .aliance .logo-ESC {
        width: 250px;
        margin: 0;
    }

    .aliance .liste-logo-clans {
        margin: 70px 0 0 0;
    }
    
    .aliance .liste-logo-clans img {
        width: 90px;
        margin-bottom: 12px;
        transition: 0.3s all;
    }

    .flex-off {
        display: flex;
        justify-content: center;
    }

} 


/************COMMANDOS************/

.commandors {
    background-image: url("./images/fonds/fond-5.jpg");
    background-size: cover;
}

.commandors h3, .commandors h4, .commandors p {
    text-align: center;
    color: rgb(255, 255, 255);
}

.commandors h3 {
    font-weight: 600;
    font-size: 80px;
    margin: 0 0 50px 0;
}

.commandors h4 {
    font-weight: 400;
    font-size: 38px;
    margin: 10px 0 0 0;
}

.commandors p {
    font-size: 22px;
    color: red;
    margin: 0 0 5px 0;
}

.commandors img {
    display: block;
    width: 300px;
    margin: 0 0 0 0;
}

.commandors .box {
    background-color: #000000ce;
    border: 2px solid rgb(255, 255, 255);
    width: fit-content;
    margin: auto;
}

@media (max-width: 480px) {

    .commandors h3 {
        font-size: 35px;
        margin: 0 0 30px 0;
    }
    
    .commandors .box {
        margin-bottom: 50px;
    }
} 

/************nos-mackers-de-contenue************/

.nos-mackers-de-contenue {
    background-image: url("./images/fonds/fond-6.jpg");
    background-size: cover;
}

.nos-mackers-de-contenue h3  {
    font-weight: 400;
    text-align: start;
    color: rgb(255, 255, 255);
    font-size: 80px;
    margin: 0 0 50px 0;
}

.nos-mackers-de-contenue a, .nos-mackers-de-contenue li  {
    color: #ffffff;
}

.nos-mackers-de-contenue li  {
    margin: 0 0 35px 0;
}

.nos-mackers-de-contenue a {
    font-weight: 400;
    text-align: justify;
    color: rgb(255, 0, 0);
    border: 2px solid #ffffff;
    padding: 10px 30px;
    font-size: 30px;
}

.nos-mackers-de-contenue img {
    width: 180px;
}

@media (max-width: 480px) {

    .nos-mackers-de-contenue h3  {
        font-size: 30px;
        margin: 0 0 30px 20px;
    }

    .nos-mackers-de-contenue a {
        font-size: 15px;
        margin: 0 0 0 35px;
    }

    .nos-mackers-de-contenue img {
        display: none;
    }

} 

/***********************FOOTER***********************/

footer {
    background-color: #000000;
    background-size: cover;
}

footer p {
    color: white;
    text-align: center;
    font-size: 15px;
}

@media (max-width: 480px) {

    footer p {
        font-size: 12px;
    }

} 